  .container {
    display: flex; /* Enables Flexbox */
    
  }
  
  .left-column, .right-column {
    flex: 15%; /* Each takes up 1 part of the available space */
  }
  
  .middle-column {
    flex: 70%;
    display: flex;
    /* display: inline; */
    border: 2px solid #333;
    border-radius: 10px;
    height: 250px;
    flex-direction: column; /* Align children vertically */
    justify-content: flex-start; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    line-height: 0; /* Adjust as needed */
  }
  
  .title {
    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Align children vertically */
    justify-content: flex-start; /* Center children vertically */
    align-items: center; /* Center children horizontally */
  }


  .address {
    display: flex;
    flex: 50%;
    /* display: inline; */
    flex-direction: column; /* Align children vertically */
    /* justify-content: flex-start; /* Center children vertically */
    /* align-items: flex-start; /* Center children horizontally */

  }

  .contact {
    display: flex;
    flex: 50%;
    /* display: inline; */
    flex-direction: column; /* Align children vertically */
    justify-content: flex-start; /* Center children vertically */
    align-items: flex-start; /* Center children horizontally */

  }